*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: black;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    height: 50px;
    background-color: #063146;
    user-select:none ;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 1);
    transition: 1s;

}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    padding-left: 16px;
}

body{
    background-color: darkgray;
}

#dash{
    background-color: bisque;
    width: -250px;
    padding-right: 60px;
}